@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.fontfamily {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  /* default styles */
  *{
    margin: 0
    
  }
  body{
    background-color: #111;
    color: white;
  }
  /* navigation bar start */
  .container{
    margin: 0 auto;
    height: 6rem;
   width: 90%;
    border-radius: 1rem;
  }

  .navfit{
color: rgb(230, 83, 60);
font-size: 1.3rem;
font-weight: 800;
padding-left: 6rem;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navitems{
    display: flex;
    justify-content: space-evenly;
    gap:3rem;
    border: 0.1rem solid rgb(47, 45, 45);
    border-radius: 2rem;
    padding-left: 0.1rem;
    padding-right: 1rem;
    margin-right: 4rem;
    color: rgb(255, 255, 255);
    font-size:1.2rem;
    font-weight: 250;
    cursor: pointer;
  }
.navothers{
    display: flex;
    justify-content:space-evenly;
    gap: 1.4rem;
    padding-top:0.2rem;
}
  .home{
    border-radius:1rem;
    background-color:rgb(230, 83, 60) ;
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
  }
  .hamburger{
    display: none;
  }
  /* navigation bar end  */

  @import url('https://fonts.cdnfonts.com/css/miama');
  .shape{
    font-family: 'Miama', sans-serif;
    font-size: 4rem;
  }
  .fitness-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
    
  }
   .bannercontent{
    max-width: 520px;
   }
   .banneritem{
    font-size: 3rem;
    margin-bottom: 1rem;
   } 
   .bannerparagraph{
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
   }
    .buttons{
      display: flex;
      gap: 1rem;
    }
    .btn{
      padding: 10px 20px;
      border-radius: 20px;
      text-decoration: none;
      color: white;
      text-align: center;
    }
    .join-club{
      background-color: #ff7f50;
    }
    .download-app{
      border: 1px solid rgb(255, 255, 255);
    }
    .image-section{
      position: relative;
    }
    .image-section img {
      max-width: 100%;
      height: auto;
    }

    .video-info,
    .tutorial-info{
      position: absolute;
      background-color: rgba(255,255,255,0.1);
      padding:5px;
      border-radius: 5px;
      text-align: center;
      font-size: 1.4rem;
    }
    .count{
      font-size: 1.5rem;
      font-weight: bold;
    }
    .circle{
      width: 20px;
      height: 20px;
      background-color: #ff7f50;
      border-radius: 50%;
      margin-right: 10px;
      margin-top:5px ;
      
    }
    .video-info{
      top: 30%;
      right: 5%;
    }
    .text{
      margin-left: -15px;
    }
    .tutorial-info{
      display: flex;
      bottom: 3%;
      left:3%;
    }
    /* habit ssection start */
    .habit-content{
      text-align: center;
      margin-top: 70px;
    }
     .habit-heading{
      font-size: 2rem;
      font-weight: bold;
      color: rgb(255, 255, 255);
     }
     .habit-para{
       font-size: 0.8rem;
       color: rgba(255, 255, 255, 0.5);
     }
     .image-container{
      display: flex;
      justify-content: space-around;
       width: 60%; 
      height: 715px;
        margin-left: 300px; 
        margin-top: 40px;
     }
     .img-card{
      text-align: center;
      margin: 15px;
    
     }
     .img-card img{
      border: 1px solid gray;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
     }
     .img-card h3{
      margin-top: 10px;
      font-size: 1rem;
     }
     .img-card p {
        font-size: 0.8rem;
        color: #ccc;
     }
     /* habit section end */






  /* responsive design */
  @media screen and (max-width:576px) {
    .navitems{
        display: none;
    }
    .hamburger{
        display: block;
        color: aliceblue;
        font-size:1.5rem;

    }
    .navfit{
        margin-left: -6rem;
    }
    .fitness-section{
      display: flex;
      flex-direction: column;
    }
    .bannercontent{
      margin-top: 40px;
      margin-left: -30px;
    }
    .image-section{
      margin-top: 60px;

    }
    .buttons{
      margin-right:35px;
      font-size: 0.9rem;
    }
    .image-section img{
      margin-left: -40px;
      position: relative;

    }
    .video-info{
      padding-top: 10px;
    }
    .tutorial-info{
position: absolute;
width: 120.74px;
height: 60.58px;
right: 40px;
bottom: 170.38px;
padding-left: 20px;
padding-top: 15px;


    }
    /* habit section start */
    .habit-content{
     margin-top: -5px; 
    }
    .habit-para{
      margin-left: 15px;
      margin-right: 15px;
      line-height: 20px;
    }
    .image-container{ 
      display: flex; 
      flex-direction: column;
    }
      .img-card{
         margin-left: -450px; 
      }
      /* habit section end */


    }